.relative1{
	position: relative;
	background-color: lightblue;
	border: 1px;
}
.relative2{
	position: relative;
	top: -20px;
	left: 20px;
	background-color: green;
	width: 500px;
	border: 1px;
	opacity: 0.5;
}
.fixed{
  position: fixed;
  bottom: 0;
  right: 0;
}
.foto{
	height: 200px;
	width: 200px;
}
.sticky{
	position: sticky;
	top: 10%;
	left: 100px;
	right: 100px;
}
.relative{
  position: relative;
  width: 600px;
  height: 400px;
  border: 3px #6AC5AC solid;

}
.absolute{
	position: absolute;
	top: 0px;
	left: 0px;
}
.absolute2{
  position: absolute;
  top: 120px;
  right: 0;
  width: 300px;
  height: 200px;
  border: 3px #D64078 solid;

}
.absolute3{
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.green{
	background-color: #6AC5AC;
	font-color: black;
}
.pink{
	background-color: #D64078;
	color: white;
}