.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  //   max-height: calc(100vh - 4rem);
  overflow: auto;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.mat-option > span {
  color: white;
}

.reset-filter {
  transform: translateY(-10px);
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-loading-shade {
  position: absolute;
  top: 54px;
  left: 0;
  right: 0;
  //   background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
// .mat-column-number,
// .mat-column-state {
//   max-width: 64px;
// }

// .mat-column-created {
//   max-width: 124px;
// }

.example-element-row:hover {
  filter: invert(0.1);
}

.example-element-row:hover + .example-detail-row {
  filter: invert(0.1);
}

.example-detail-row:hover {
  filter: invert(0.1);
}

.example-element-row:has(+ .example-detail-row:hover) {
  filter: invert(0.1);
}

.mat-mdc-row:hover {
  cursor: pointer;
}

.message-column-text {
  max-width: 30%;
  text-overflow: ellipsis;
}

.details-table {
  padding: 1rem;
  // max-width: 30%;
}

.details-table td {
  padding: 0.5rem;
}
