div.kasten1{
	background-color:orange;
	padding:5px 10px 5px 5px;

	margin:0px 100px 60px 30px;
}
div.kasten2{
	background-color:blue;
	padding:50px 5px 5px 5px;
	border:0px 0px 0px 0px;
	margin:0px 130px 0px 0px;
}
div.kasten3{
	background-color:yellow;
	padding: 5px 5px 5px 5px;
	border:0px 0px 0px 0px;
	margin:0px 80px 0px 80px;
}

.simple{
	width: 500px;
	margin: 20px auto;
	border:1px  solid black;

}
.fancy{
	width: 500px;
	margin: 20px auto;
	padding: 50px;
	border-width: 10px;
	border:10px  solid black;

}
*{
	box-sizing:border-box;
}
.inline{
	display:inline;
	background-color:green;
	color:white;
}
.block{
	display:block;
	background-color:lightgreen;
}