* {
    /* border: 0.1vh solid black; */
    box-sizing: border-box; 
}

body {
    margin: 0;
}

#container {
    width: 55vw;
    min-height: 100vh;
    margin: 0 auto;
}

header {
    width: 55vw;
    height: 14vw;
    overflow: hidden;
}

nav{
    width: 55vw;
    height: 3vw;
    position: sticky;
    top: 0;
    background: #3b46df;
}


article {
    width: 45vw;
    min-height: 14vw;
    padding: 1vw;
    margin: 1vw auto;
}

footer {
    width: 55vw;
    height: 3vw;
    position: sticky;
    bottom: 0;
}


/* SLIDER */

.slides {
    width: 55vw;
    height: 14vw;
    object-fit: cover;
    display: none;
}

.animate {
    position: relative;
    animation: aniSlide 1s;
}

/* @keyframes animSlide{
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} */

@keyframes aniSlide {
    from {
        left: 55vw;
    }
    to {
        left: 0;
    }
}