* {
    border: 0.1vh solid black;
    box-sizing: border-box; 
}

body {
    margin: 0;
}

#container {
    width: 55vw;
    min-height: 100vh;
    margin: 0 auto;
}

header {
    width: 55vw;
    height: 10vw;
}

nav{
    width: 55vw;
    height: 3vw;
    position: sticky;
    top: 0;
}


article {
    width: 45vw;
    min-height: 14vw;
    padding: 1vw;
    margin: 1vw auto;
}

footer {
    width: 55vw;
    height: 3vw;
    position: sticky;
    bottom: 0;
}


/* SLIDER */

