html, body {margin: 0 auto 0 auto; text-align: center; background-color: #142540;}

h1 {
    margin-top: 5%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: white;
}

#grid-container {

    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 0.5vw;    
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0.5vw;
    font-size: 100px;
    text-align: center;
    font-stretch: ultra-expanded;    
    width: 160px;
    height: 160px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}