@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap"');
@font-face {font-family: myCalculator; src: url('../digital_7/digital-7 (mono).ttf'); }
body, html {margin: 0; padding: 0; background: #142540;}
* {font-family: 'Nova Mono', monospace; color: white;}
.middle {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

.rechner_blau {
    background-color: #2faee0;
    width: 30vw;
    max-width: 90%;
    height: 50vw; 
    max-height: 90%;
    border-radius: 7%;
}

.rechner {
    background: #262424;
    width: 97.6%;
    height: 95%;
    border-radius: 8%;
}

.rechner h1 {
    margin: 7% 0 0 5%;
    font-size: 40px;
}

.rechner .ausgabe {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: darkseagreen;
    width: 91%;
    height: 15%;
    border-radius: 5px;
    overflow: hidden;
    text-align: right;
}

.rechner #ausgabe {
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 5.5vh;
    color: black;
    width: 10000%;
    font-family: myCalculator;
}

.rechner #erg {
    position: absolute;
    bottom: 13%;
    right: 5%;
    font-size: 3.5vh;
    color: black;
    font-family: myCalculator;
}

table {
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 91%;
    height: 55%;
    border-spacing: 0.5vw;
}

td, th {
    width: 25%;
    background: #363333;
    text-align: center;
    font-weight: 400;
    border-radius: 5px;
    font-size: 1.5vw;
    cursor: pointer;
}

td:hover {
    color: #aaa;
}

#on {
    color: red;
    padding: 0;
}

.zahl {
    background: #198fbe;
}