.rundherum{
	position: relative;
	top: 10px;
	right: 10px;
}
.cyanrand{
	border: 3px #6AC5AC solid;
}
.cyanhint{
	background-color: #6AC5AC;
}
.obenlinks{
	position: absolute;
	top: 0px;
	left: 0px;
}
.untenrechts{
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.pinkhint{
	background-color: #D64078;
	color: white;
	text-decoration: none;
}
.pinkrand{
	border: 3px #D64078 solid;
}
.pinkschr{
	color: #D64078;
}
.abstand{
	width: 200px;
}
.beginn{
	position: relative;
	margin-left: 206px;
}
.gelbback{
	background-color: #FDC72F;
}
.gelbrand{
	border: 3px #FDC72F solid;
}
.margin-auto{
	margin-left: 33%;
	margin-right: 33%;
	text-align: center;
}
.mitte{
	margin-left: 40%;
	margin-right: 40%;
}
.borderlink{
	border: solid #D64078 3px;
	border-radius: 5px;
}
.width{
	width: 100px;
}
.gruenrand{
	border: 3px #96C02E solid;
}
.gruenhint{
	background-color: #96C02E;
}
.fixed{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
.rand{
	margin-left: 10px;
	margin-right: 10px;
}
.textmitte{
	text-align: center;
}


