.barbara{
	height: 18%;
	width: 18%;
}
.lucia{
	height: 22%;
	width: 22%;
	margin-top: 3%;
	border: 5px solid black;
}
.maria{
	height: 22%;
	width: 22%;
	margin-top: 1%;
	border: 5px solid black;
}
.nikolaus{
	height: 22%;
	width: 22%;
	margin-top: 1%;
}
body{
	text-align: center;
	text-shadow: 1px 1px 1px black;
	background: url(img/e81f4adbeffe2d927e34e8f1fb882510.jpg);
	background-repeat:no-repeat;
	background-size:101%;
}
div{
	margin-top: 15%;
	font-size:350%;
	color:red;
}