.flex-container{
	display: flex;
}
.border{
	background-color: #ffebe6;
	border: 1px solid red;
	padding: 6px 8px 6px 8px;
	margin: 5px;
}
.border2{
	border: 5px #9E0707 solid;
	padding: 5px;
}
.flex-end{
	justify-content: flex-end;
}
.center{
	justify-content: center;
}
.between{
	justify-content: space-between;
}
.around{
	justify-content: space-around;
}
div.border2{
	font-size: 20px;
}
.border3{
	border: 6px white;
	background-color: #2DD710;
	margin: 5px;
	border-radius: 3px;
	text-align: center;
}
.row-reverse{
	flex-direction: row-reverse;
}
.column{
	flex-direction: column;
}
.column-reverse{
	flex-direction: column-reverse;
}
div.height{
	height: 200px;
}
.align-flex-start{
	align-items: flex-start;
}
.align-flex-end{
	align-items: flex-end;
}
.align-center{
	align-items: center;
}
