.Advent1
{
	height: 20%;
	width: 11%;
}
.Advent2
{
	height: 40%;
	width: 20%;
}
.Advent3
{
	height: 46%;
	width: 26%;
}
.Advent4
{
	height: 55%;
	width: 31%;
}
body
{
	text-shadow: 1px 1px 1px black,
				 1px -1px 1px black,
				 -1px 1px 1px black,
				 -1px -1px 1px black;
	background-image: url(img/Hintergrund.gif); background-repeat: no-repeat;
	text-align: center;
	background-size: 105%;
}
div
{
	margin-top: 8%;
	font-size: 350%;
	color: red;
}
.Weihnachten
{
	height: 300px;
	width: auto;
}