* {font-family: verdana;}

html {scroll-behavior: smooth;}

body {
	margin:0px;
}

#wrapper {
	width: 60vw;
	border: 1px solid darkblue;
	margin: 0px auto;
}

#banner {
	width: 60vw;
	height: 20vw;
	background-image: url('bild1.jpg');
	background-position: center center;
	background-size: cover;
}

nav {
	width: 60vw;
	background-color: #1c2335;
	position: sticky;
    top: 0;
}

h1 {
	color: #1c2335;
	font-family: 'Berkshire Swash', cursive;
	font-size: 3vw;
}

a { 
	padding-left: 2vw;
	color: #ffd28d;
	font-size: 1.5vw;
	text-decoration: none;
	font-family: 'Berkshire Swash', cursive;

 }

 a:hover {
 	color: white;
 }
/* #D6EAF8
   #A9CCE3 */



.dunkel {
	background-color: #cba56d;
	min-height: 60vw;
	padding:3vw;
	padding-top: 3vw;
}

.hell {
	background-color: #f0ca97;
	min-height: 60vw;
	padding:3vw;
	padding-top: 3vw;
}
