.div>.border1{
	border: 1px solid black;
}
.div>.border2{
	border: 1px solid grey;
}
.yellow{
	color:yellow;
}
.white{
	color:white;
}
.background1{
	background-color:#5B9BD5;
}
.background2{
	background-color:#3456eb;
}
.dvi2 .font1{
	font-size:15px;
}
.dvi2 .font2{
	font-size:20px;
}
.div2 .font3{
	font-size:30px;
}
.list{
	color:red;
	text-decoration:underline;
	list-style-type: square;
}
.list1{
	color:yellow;
	border: 1px solid black;
}
.list2{
	color:yellow;
	border: 1px solid #5B9BD5;
}
.listges{
	background-color:green;
}
