.überschrift{
	color:yellow;
	font-size:30px;
	border: 1px solid black;
}
.überschrift2{
	color:white;
	font-size:30px;
	border: 1px solid #5B9BD5;
}
.hintergrund1{
	background-color:#5B9BD5;
}
.hintergrund2{
	background-color:#3456eb;
}
.text1{
	color:white;
	font-size:15px;
	border: 1px solid black;
}
.text2{
	color:white;
	font-size:15px;
	border: 1px solid #5B9BD5;
}
.überschrift_unter{
	color:yellow;
	font-size:20px;
	border: 1px solid black;
}
.überschrift_unter2{
	color:yellow;
	font-size:20px;
	border: 1px solid #5B9BD5;
}
.list1{
	color:red;
	text-decoration:underline;
}
.list2{
	color:yellow;
	border: 1px solid #5B9BD5;
}
.list3{
	color:yellow;
	border: 1px solid black;
}
