*{
	margin: 10px;
}
.flex-container {
	display: flex;
}
.div1 {
	border: 3px solid black;
}
.div1{
	border: 3px solid black;
	height: 50px;
}
.div1 div:nth-of-type(1) {
	flex: 1 4 400px;
}
.div1 div:nth-of-type(2) {
	flex: 1 4 400px;
}
.div1 div:nth-of-type(3) {
	flex: 1 5 800px;
}

.div2 {
	border: 3px solid black;
}
.div2 div {
	border: 3px solid black;
	height: 50px;
}
.div2 div:nth-of-type(1) {
	flex: 1 3 800px;
}
.div2 div:nth-of-type(2) {
	flex: 1 1 800px;
}
.div2 div:nth-of-type(2) div {
	border: 3px solid black;
	height: 30px;
}
.div2 div:nth-of-type(2) div:nth-of-type(1) {
	flex: 1 3 200px;
}
.div2 div:nth-of-type(2) div:nth-of-type(2) {
	flex: 1 1 600px;
}