@page "/rules"

<div class="p-4">
<h3>Rules</h3>

<p>Click your own circle as fast as possible in order to decrease its size until it's the exact form of the rounded rectangle. You can recognize your own circle because it is the one, where "Click" is written in.</p>
<p>You can also click on your opponents circle in order to make it bigger.</p>
<p>Let the fast player win!</p>
</div>

@code {

}