@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@500&display=swap');

:root {
    --white: #ffffff;
    --greyf0: #f0f0f0; 
    --greye0: #e0e0e0; 
    --greyd0: #d0d0d0; 
    --greyc0: #c0c0c0; 
    --greyb0: #b0b0b0; 
    --greya0: #a0a0a0; 
    --grey90: #909090; 
    --grey80: #808080; 
    --grey70: #707070; 
    --grey60: #606060; 
    --grey50: #505050; 
    --grey40: #404040; 
    --grey30: #303030; 
    --grey20: #202020; 
    --grey10: #101010; 
    --black: #000000; 

    --buy-button: #848CFF;
    --buy-button-hover: #ACD8C6;

    --size15: 15vh;
    --size10: 10vh;
    --size7: 7vh;
    --size6: 6vh;
    --size5: 5vh;
    --size4: 4vh;
    --size3: 3vh;
    --size2-5: 2.5vh;
    --size2: 2vh;
    --size1-6: 1.6vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.fg-green { color: #ACD8C6; }
.fg-blue { color: #3E5663; }
.fg-red { color: #E03637; }
.fg-yellow { color: #FFE684; }
.fg-purple { color: #C9C1F4; }
.fg-orange { color: #DF8E1E; }

.bg-green { background: #ACD8C6; }
.bg-blue { background: #3E5663; }
.bg-red { background: #E03637; }
.bg-yellow { background: #FFE684; }
.bg-purple { background: #C9C1F4; }
.bg-orange { background: #DF8E1E; }

.button {
    position: relative;
    letter-spacing: .5vh;
    font-weight: 650;
    display: inline-block;
    font-size: var(--size2-5);
    padding: var(--size2) var(--size4);
    background: var(--buy-button);
    border-radius: calc(var(--size2) * 2 + var(--size2-5));
    color: var(--white) !important;
}

.button::before{
    content: attr(data-typ);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: .5vh;
    font-weight: 650;
    display: inline-block;
    font-size: var(--size2-5);
    padding: var(--size2) var(--size4);
    border-radius: calc(var(--size2) * 2 + var(--size2-5));
    color: var(--black);
    background: var(--buy-button-hover);

    clip-path: circle(10vh at 50% -20vh);
    animation: button-out 1s ease-in-out;
}

.button:hover::before{    
    clip-path: circle(40vh at 50% -20vh);
    animation: button-in 1s ease-in-out;
}

@keyframes button-in {
    0% {
        clip-path: circle(10vh at 50% -20vh);
    }
    100% {
        clip-path: circle(40vh at 50% -20vh);
    }
}

@keyframes button-out {
    0% {
        clip-path: circle(40vh at 50% 26.5vh);
    }
    100% {
        clip-path: circle(10vh at 50% 26.5vh);
    }
}

body, html {
    overflow-x: hidden;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

.invisible {
    opacity: 0;
}

.middle {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-flex {
    display: flex;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-jc-sa {
    justify-content: space-around;
}

.flex-jc-c {
    justify-content: center;
}

.flex-ai-c {
    align-items: center;
}

.cool-link {
    display: inline-block; 
    position: relative;
}

.cool-link::before {
    content: ''; 
    position: absolute; 
    width: 100%; 
    display: block;
    transform: scaleX(0); 
    height: 2px; 
    bottom: 0; 
    left: 0; 
    transform-origin: bottom right; 
    transition: transform 0.25s ease-out; 
}

.cool-link.white::before {
    background: var(--white);
    box-shadow: 1px 1px 2px var(--white);
}

.cool-link.black::before {    
    background: var(--black);
    box-shadow: 1px 1px 2px var(--black);
}

.cool-link:hover::before { 
    transform: scaleX(1); 
    transform-origin: bottom left; 
}

// -------------------------------------------------- Header & Footer --------------------------------------------------

header {
    background: var(--grey30);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(var(--size2-5) * 3);
    z-index: 100;
}

header>div {
    margin: 0 10%;
    width: 80%;
    height: 100%; 
}

.logo {
    pointer-events: none;
}

.logo:hover a img {
    transform: rotate(180deg);
}

.logo a {
    height: 100%;
    width: 25vh;
}

.logo a img {
    height: 100%;
    aspect-ratio: 1/1;
    height: calc(var(--size2-5) * 1.8);
    transition: all 0.4s ease-out;
    pointer-events: all;
}

.logo a div {
    font-size: var(--size2-5);
    color: var(--white);
    width: 0;
    margin-left: 2vh;
    transition: all 0.4s ease-out;
    overflow: hidden;
    white-space: nowrap;
}

.logo:hover a div {
    width: 100%;
}

.burger {
    height: calc(var(--size2-5) * 1.2);
    display: none;
    z-index: 101;
}

.burger img:nth-of-type(2) {
    position: relative;
    z-index: 110;
}

.burger img {
    aspect-ratio: 1/1;
    height: 100%;
}

.links span {
    margin-left: calc(var(--size2-5) * 1.5);
    font-size: var(--size2-5);
    transition: all 0.15s ease-out;
}

.links span:hover {
    transform: translateY(5px);
}

.links span a {    
    color: var(--white);
}


footer {
    position: relative;
    background-color: var(--black);
    height: 70vh;
    margin-top: 40vh;
    color: var(--white);
    z-index: 100;
}

.footer_all {
    width: 80%;
    flex-direction: column;
}

.footer_parts {
    margin: 1vw;
}

.footer_part {
    margin: 1vw;
    text-align: center;
}

footer .footer_all .footer_parts .footer_part h5 {
    font-size: var(--size2);
}

footer .footer_all .footer_parts .footer_part a {
    color: var(--white);
}

// -------------------------------------------------- MAIN - Home --------------------------------------------------

.home_section1 {
    min-height: 100vh;
    background: url('svg/SVG-Background.svg'), 
                linear-gradient(90deg, rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.8) 30%, rgba(255,255,255,0) 60%) fixed, 
                url('img/home_background.jpg') fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_title {
    position: relative;
    top: 25vh;
    left: 10vw;
    width: 50vw;
    font-size: var(--size10);
    color: var(--black);
}

.home_section2 {
    min-height: 90vh;
    background: #3E5663;
}

.home_heading {
    position: relative;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    font-size: var(--size4);
    color: var(--white);
}

.home_text {
    position: relative;
    top: 15vh;
    left: 10vw;
    width: 80vw;
    font-size: var(--size2);
    color: var(--white);
    text-align: justify;
    line-height: var(--size4);
}

.home_section2_button {
    position: relative;
    top: 25vh;
    left: 10vw;
}

.home_section3 {
    min-height: 100vh;
    background: url('svg/SVG-Wave-End.svg');
    background-size: 100vw, 10vh;
    background-repeat: no-repeat;
    text-align: center;
}

.home_section3 h2 {
    margin-top: 25vh;
    font-size: var(--size5);
}

.home_section3_grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-template-rows: 40vh    4vh    5vh     10vh    3vh     5vh      5vh   1vh     10vh    10vh    10vh;
    //                  Bild    Colors  Name    Describ Price  BuyBtn   Link  hr      Info1   Info2   Info3
    gap: 3vh;
    width: 60vw;
    margin: 10vh 20vw;
}

.home_section3_grid-item {
    position: relative;
}

.home_section3_smartphone {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateX(-14.5%);
}

.home_section3_grid-item .back {
    position: relative;
}

.home_section3_grid-item .front {
    position: absolute;
    top: 10%;
    left: 50%;
    height: 90%;
}

.home_section3_grid-item .SmartSquareThreePro {
    width: 8vw;
}

.home_section3_grid-item .SmartSquareThree {
    width: 7.8vw;
}

.home_section3_grid-item .SmartSquareTwo {
    width: 7.3vw;
}

.home_section3_grid-item .SmartSquareOne {
    width: 6.5vw;
}

.home_section3_colors {
    justify-content: center;
}

.home_section3_color {
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 50%;
    margin: 0 .3vh;
    box-shadow: inset 1px 1px 2px black;
}

.home_section3_button,
.home_section3_button::before {
    font-size: 1.5vh;
    padding: 1vh 2vh;
    letter-spacing: normal;
}

// -------------------------------------------------- MAIN - Phones --------------------------------------------------

.phones_title {
    position: relative;
    top: 25vh;
    left: 10vw;
    width: 50vw;
    font-size: var(--size10);
    color: var(--black);
}

.phones_phonesections {
    position: relative;
    margin: 15vh 0 0 0;
    width: 100vw;
    height: 50vh;
    overflow: hidden;
}

.phones_phonesections:nth-of-type(1) {    
    margin-top: 40vh;
}

.phones_phonesection {
    width: 57%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: all .3s ease-out;
}

.phones_phonesections:hover .phones_phonesection {
    width: 53%;
}

.phones_phonesection1 {
    background-color: var(--greye0);
    clip-path: polygon(0% 0%, 100% 0%, calc(43 / 57 * 100%) 100%, 0% 100%);
}

.phones_phonesections:nth-of-type(2) .phones_phonesection1 {
    background-color: var(--grey10); //dfjkhasdkfjhaskfhskdfhkfjahskfl3hkjfshas
}

.phones_phonesections:hover .phones_phonesection1 {
    clip-path: polygon(0% 0%, 100% 0%, calc(47 / 53 * 100%) 100%, 0% 100%);
}

.phones_phonesection2 {
    background-color: var(--grey10);
    position: absolute;
    text-align: right;
    transform: translateY(-100%);
    clip-path: polygon(calc(100% - 43 / 57 * 100%) 0%, 100% 0%, 100% 100%, 0% 100%);
    right: 0;
}

.phones_phonesections:nth-of-type(2) .phones_phonesection2 {
    background-color: var(--greye0); //dfjkhasdkfjhaskfhskdfhkfjahskfl3hkjfshas
}

.phones_phonesections:hover .phones_phonesection2 {
    clip-path: polygon(calc(100% - 47 / 53 * 100%) 0%, 100% 0%, 100% 100%, 0% 100%);
}

.phones_phonesection_title {
    font-size: var(--size6);
    color: var(--black);
    font-weight: 400;
    margin-left: 10vw;
    transition: all 0.25s ease-out;
}

.phones_phonesections:nth-of-type(2) .phones_phonesection_title {
    color: var(--white);
}

.phones_phonesections .ssaplus_title {
    color: var(--white);
    position: absolute;
    right: 10vw;
}

.phones_phonesections:nth-of-type(2) .ssaplus_title {
    color: var(--black);    
}

.phones_phonesections:hover .phones_phonesection_title {
    font-size: var(--size4);
    transform: translateY(-10vh);
}

.phones_phonesections img {
    position: absolute;
    width: 20vw;
    transition: all .25s ease-out;
}

.phones_phonesections:nth-of-type(2) img {
    width: 23vw;
}

.phones_phonesections:nth-of-type(3) img {
    width: 25vw;
}

.phones_phonesections .img_back {
    transform: translateX(35vw) translateY(5vh);
}

.phones_phonesections:hover .img_back {
    transform: translateX(35vw) translateY(-40vh);
}

.phones_phonesections:nth-of-type(2) .img_back {
    transform: translateX(45vw) translateY(5vh);
}

.phones_phonesections:nth-of-type(2):hover .img_back {
    transform: translateX(45vw) translateY(-35vh);
}

.phones_phonesections:nth-of-type(3):hover .img_back {
    transform: translateX(37vw) translateY(-40vh) rotate(-30deg);
}

.phones_phonesections .img_front {
    transform: translateX(45vw) translateY(5vh);
}

.phones_phonesections:hover .img_front {
    transform: translateX(45vw) translateY(-30vh);
}

.phones_phonesections:nth-of-type(2) .img_front {
    transform: translateX(35vw) translateY(-140vh) rotate(180deg);
}

.phones_phonesections:nth-of-type(2):hover .img_front {
    transform: translateX(35vw) translateY(-95vh) rotate(180deg);
}

.phones_phonesections:nth-of-type(3):hover .img_front {
    transform: translateX(52vw) translateY(-35vh)  rotate(-30deg);
}

.phones_phonesection .info {
    font-size: var(--size2-5);
    color: var(--black);
    position: absolute;
    margin-left: 10vw;
    margin-top: 70vh;
    transition: all .25s ease-out;
}

.phones_phonesection .info div {
    color: var(--black);
}

.phones_phonesections:nth-of-type(2) .phones_phonesection .info div {
    color: var(--white);
}

.phones_phonesection .ssaplus_info {
    color: var(--white);
    right: 10vw;
}

.phones_phonesection .ssaplus_info div {
    color: var(--white);
}

.phones_phonesections:nth-of-type(2) .phones_phonesection .ssaplus_info div {
    color: var(--black);    
}

.phones_phonesections:hover .info {
    margin-top: 15vh;
}

// -------------------------------------------------- MAIN - Support --------------------------------------------------

.support_section1 {
    min-height: 100vh;
    background: url('svg/SVG-Background.svg'), 
                linear-gradient(90deg, rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.8) 30%, rgba(255,255,255,0) 60%) fixed, 
                url('img/support_background.jfif') fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.support_title {
    position: relative;
    top: 25vh;
    left: 10vw;
    width: 50vw;
    font-size: var(--size10);
    color: var(--black);
}

// -------------------------------------------------- MAIN - Spezific Phone --------------------------------------------------

.title_ssa {    
    position: relative;
    top: 25vh;
    left: 10vw;
    width: 50vw;
    font-size: var(--size10);
    color: var(--black);
}

.ssa_stickyphone {
    position: sticky;
    top: 10vh;
}

.ssa_phonerelative {
    position: relative;
    top: 20vh;
    left: 50vw;
}

.ssa_stickyphone .ssa_phonerelative img {
    position: absolute;
    width: 16vw;
}

.ssa_stickyphone .ssa_phonerelative img:nth-of-type(1) {
    top: 0;
    left: 0;
}

.ssa_stickyphone .ssa_phonerelative img:nth-of-type(2) {
    top: 8vh;
    left: 8vw;
}

// -------------------------------------------------- MAIN - Imprint and Conditions --------------------------------------------------

.imprint_title {
    position: relative;
    top: 25vh;
    left: 30vw;
    width: 50vw;
    font-size: var(--size10);
    color: var(--black);
}

.imprint_content {
    position: relative;
    width: 40vw;
    left: 30vw;    
    top: 30vh;
    text-align: justify;
}

.imprint_h2 {
    margin-top: 10vh;
}

.imprint_p {
    margin-top: 5vh;
}

// -------------------------------------------------- @media --------------------------------------------------

@media (orientation: portrait) {
    .burger {
        display: block;
    }

    .burger img:nth-of-type(2) {
        display: none;
    }

    .burger.open img:nth-of-type(1) {
        display: none;
    }

    .burger.open img:nth-of-type(2) {
        display: block;
    }

    .links {
        position: fixed;
        background-color: var(--grey20);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        clip-path: circle(0 at calc(90vw - 1.2vh) 3.25vh);
        transition: all .7s ease-out;
        pointer-events: none;
        padding: 0;
        z-index: 99;
    }

    .links.open {
        clip-path: circle(140vh at calc(90vw - 1.2vh) 3.25vh);
        pointer-events: all;
    }

    .links span {
        line-height: 15vh;
    }

    .links span:hover {
        transform: translateY(0);
    }
}